/config.json
/crash-reports
/local
/logs
/mods
/natives
/options.txt
/patchouli_data.json
/reauth*
/resourcepacks
/saves
/screenshots
/usercache.json
/usernamecache.json
/woot
*.bak
*.bak.*
/kubejs
/dist
/build_*
/not-enough-crashes
/output
/shaderpacks
/*.old
/tconplanner
